<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO APP</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    
    <section>
    <nav class="nav">
        <a class="todo">Todo App</a>
    </nav>
   <div class="container">
        <form action="/add_todo" method="post" class="form" id="real-form">
            <input type="text" name="todos" placeholder="Enter Todo" class="input" id="input-text" />
            <input type="submit" class="sub" id="enter-button" value="Add Todo"/>
        </form>
        <form action="/update_todo" method="post" class="form" id="input-edit">
            <input type="text" name="todos" placeholder="Enter Todo" class="input" id="edit-text" />
            <input type="hidden" name="index" id="hidden-input" />
            <input type="submit" class="sub" id="enter-button" value="Save Todo"/>
        </form>
        <ul class="todo-items">
            
            <% name.forEach((todos,index) => { %>
               
            <li class="item" id="li">
                
              <input type="checkbox" onchange="check(`<%= index %>`)" class="checkbox" <%= todos.iscompleted? "checked" : "" %> >
              <span class="todo-text " id="my_field" ><%= todos.task%></span>
              <button class="edit-button" onclick="edit(`<%= index %>` , `<%= todos.task %>`)" id="edit">EDIT</button>
               <a href="/delete/<%= index %>"  ><button class="delete-button">X</button></a>
            
            </li>
            <% }) %>
        </ul>
        <!-- <ul id="filter">
            <li>All</li>
            <li id="active" onclick="active()">Active</li>
            <li>Completed</li>
        </ul> -->
    </div>
    </div>
</section>
<script>
   
function check(index) {
      console.log("check")
    window.location.href= `/check/${index}`
}
function active(){
    console.log(name, "57")
    const act=document.getElementById("input-text").name;
    console.log(act,"58")
   
    console.log("active")
    let html = ``;
   name.forEach((todo,index) => {
        console.log("active",loop)
        if(todo[index].isCompleted){
            `<li>hlo</li>`
        }
    });

}
function edit(index, todos){
    console.log("first", index, todos)
    const realform=document.getElementById("real-form")
    realform.style.display="none"
    const editform=document.getElementById("input-edit");
    editform.style.display="flex"
    document.getElementById("edit-text").value=todos;
    const hiddeninput=document.getElementById("hidden-input")
    hiddeninput.value=index
   
}
    
</script>
</body>
</html>